.label

#titlelable {
}

.button {
    -fx-background-color: #4CAF50; /* Màu nền */
    -fx-text-fill: white; /* Màu chữ */
    -fx-font-size: 14px; /* Kích thước chữ */
    -fx-padding: 8px 16px; /* Khoảng cách các viền trong button */
    -fx-min-width: 40px; /* Đặt chiều rộng tối thiểu */
    -fx-min-height: 40px; /* Đặt chiều cao tối thiểu */
    -fx-max-width: 60px; /* Đặt chiều rộng tối đa */
    -fx-max-height: 60px; /* Đặt chiều cao tối đa */
    }
}

.button:hover {
    -fx-background-color: #45a049; /* Màu nền khi di chuột vào */
}

.button:pressed {
    -fx-background-color: #3e8e41; /* Màu nền khi button được nhấn */
}